body {
  margin: 0;
  padding: 0;
  background-color: #202123;
}

h1 {
  text-align: center;
  color: white;
}

#team_1_score, #team_2_score {
  font-size: 24rem;
}

@media only screen and (max-width: 600px) {
  #team_1_score, #team_2_score {
    font-size: 3.5rem;
  }
}
